[submodule "RLDX-1"]
	path = RLDX-1
	url = https://github.com/RLWRLD/RLDX-1.git
[submodule "hamer"]
	path = hamer
	url = https://github.com/geopavlakos/hamer.git
[submodule "WiLoR"]
	path = WiLoR
	url = https://github.com/rolpotamias/WiLoR.git
